body {
    background: #333;
    color: white;
    font-family: monospace;
    margin: 0;
}

main {
    padding: 12px;
    width: 900px;
    margin: auto;
}

header {
    background: #222;
    padding-top: 18.5px;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 6rem;
    border: 1px solid;
    border-radius: 2px;
    padding: 5px;
}

.article h4 {
    color: #999;
}

.article img {
    width: 800px;
    border-radius: 2px;
}

.article {
    font-size: 1rem;
    border: 1px solid;
    padding: 15px;
    text-wrap: pretty;
    border-radius: 2px;
    margin-top: 27px;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 37px;
    width: 900px;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #999;
}

.section-title {
    font-size: 2.5rem;
}

.apartat {
    margin-top: 100px;
}

.article-box {
    text-decoration: none;
    border: 1px solid;
    width: 250px;
    border-radius: 2px;
}

.content {
    padding: 15px;
}

.content a {
    text-decoration: none;
    position: relative;
}

.article-box h4 {
    margin-top: -10px;
    font-size: 15px;
    color: #999;
}

.article-box img {
    width: 250px;
    margin: 0;
    padding: 0;
}

.article-boxes {
    display: flex;
    justify-content: space-between;
}

#latest-title {
    margin-left: 300px;
    margin-top: 100px;
    font-size: 30px;
}